<section class="blogInfo container-fluid" id="blogInfo">
    <div class="container-fluid ">
        <img class="w-100"
            src="https://images.pexels.com/photos/675764/pexels-photo-675764.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="">
        <h1 class="w-75 py-3">Cartridge Is Better Than Ever
            A Discount Toner</h1>
    </div>
</section>