<section class="bottom container-fluid bg-dark mt-5 py-5" id="bottom">
    <div class="container-fluid bottom-content text-white">
        <div class="row">
            <div class="col-lg-3">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro numquam delectus quam aliquam sit
                    consequuntur ad facilis excepturi labore fuga.</p>
            </div>
            <div class="col-lg-3">
                <h4>Newsletter</h4>
                <p>Stay update with our latest</p>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Recipient's username"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <!-- Submit email popup -->
                        <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                            data-target="#exampleModal"><i class="fas fa-arrow-right"></i></button>
                        <!--  -->
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Instragram Feed</h4>
                <div class="row">
                    <div class="col-lg-3">
                        <img class="w-100"
                            src="https://images.pexels.com/photos/3765175/pexels-photo-3765175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                    </div>
                    <div class="col-lg-3">
                        <img class="w-100"
                            src="https://images.pexels.com/photos/3765175/pexels-photo-3765175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                    </div>
                    <div class="col-lg-3">
                        <img class="w-100"
                            src="https://images.pexels.com/photos/3765175/pexels-photo-3765175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                    </div>
                    <div class="col-lg-3">
                        <img class="w-100"
                            src="https://images.pexels.com/photos/3765175/pexels-photo-3765175.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Follow Us</h4>
                <p>Let us be social</p>
                <div class="d-flex w-50 justify-content-between">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fas fa-basketball-ball"></i>
                    <i class="fab fa-behance"></i>
                </div>
            </div>
        </div>
    </div>
</section>