<div class="container-fluid latest py-3" id="latest">
    <div class="container-fluid">
        <div class="owl-carousel owl-theme py-3">
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
            <div class="item text-center">
                <img src="https://images.pexels.com/photos/291762/pexels-photo-291762.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="">
                <a href="#">
                    <h6 class="bg-dark text-center fashion py-2 mx-auto text-warning mt-3">Fashion</h6>
                </a>
                <h5 class="text-center mt-3">New york fashion week's continued the evolution</h5>
                <p>2 days ago</p>
            </div>
        </div>
    </div>
</div>