<section class="container-fluid options" id="options">
    <div class="container-fluid">
        <div class="container-fluid bg-light newsletter">
            <h4>Newsletter</h4>
            <input class="w-100" type="email" placeholder="Enter Email">
            <button type="button" class="btn btn-outline-dark w-100 my-3">SUBSCRIBE</button>
        </div>
        <div class="container-fluid bg-light category my-4">
            <h4>Category</h4>
            <div class="d-flex justify-content-between bg-white p-3 my-2">
                <p class="my-auto">Technology</p>
                <p class="my-auto">(03)</p>
            </div>
            <div class="d-flex justify-content-between bg-white p-3 my-2">
                <p class="my-auto">Technology</p>
                <p class="my-auto">(03)</p>
            </div>
            <div class="d-flex justify-content-between bg-white p-3 my-2">
                <p class="my-auto">Technology</p>
                <p class="my-auto">(03)</p>
            </div>
            <div class="d-flex justify-content-between bg-white p-3 my-2">
                <p class="my-auto">Technology</p>
                <p class="my-auto">(03)</p>
            </div>
            <div class="d-flex justify-content-between bg-white p-3 my-2">
                <p class="my-auto">Technology</p>
                <p class="my-auto">(03)</p>
            </div>
        </div>
        <div class="container-fluid bg-light popular py-5 my-4">
            <h4>Popular Post</h4>
            <%for (let i = 0; i < popular.length; i++){    %>
            <%=console.log("popular",popular[i].name)%>

            <div class="popular-img my-3">
                <div class="d-flex bg-white popular-img-content p-2">
                    <p class="my-auto pr-3"><%=popular[i].name%></p>
                    <p class="my-auto"><%=popular[i].date%></p>
                </div>
            </div>
            <h4 class="options-title"><a href="#"><%=popular[i].title%></a></h4><%}%>

        </div>
    </div>
</section>