<section class="post container-fluid py-2" id="post">
    <div class="container-fluid">
        <div class="container-fluid mb-5">
            <div class="post-img">
                <div class="d-flex post-img-content bg-white w-50 justify-content-around py-3">
                    <div class="d-flex">
                        <i class="far fa-user my-auto"></i>
                        <p class="my-auto px-2">Admin</p>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-calendar-alt my-auto"></i>
                        <p class="my-auto px-2">January 12,2019</p>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-comment my-auto"></i>
                        <p class="my-auto px-2">2 Comments</p>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="post-title"><a href="#">Woman claims husband wants to name baby girl after his ex-lover
                        sparking.</a></h1>
                <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser cattle were
                    fruitful lights. Given let have, lesser their made him above gathered dominion sixth. Creeping deep
                    said can't called second. Air created seed heaven sixth created living</p>
                <button type="button" class="btn btn-outline-dark">READ MORE <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <div class="post-img">
                <div class="d-flex post-img-content bg-white w-50 justify-content-around py-3">
                    <div class="d-flex">
                        <i class="far fa-user my-auto"></i>
                        <p class="my-auto px-2">Admin</p>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-calendar-alt my-auto"></i>
                        <p class="my-auto px-2">January 12,2019</p>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-comment my-auto"></i>
                        <p class="my-auto px-2">2 Comments</p>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="post-title"><a href="#">Woman claims husband wants to name baby girl after his
                        ex-lover
                        sparking.</a></h1>
                <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding lesser
                    cattle were
                    fruitful lights. Given let have, lesser their made him above gathered dominion sixth.
                    Creeping deep
                    said can't called second. Air created seed heaven sixth created living</p>
                <button type="button" class="btn btn-outline-dark">READ MORE <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="container-fluid mb-5">
            <div class="post-img">
                <div class="d-flex post-img-content bg-white w-50 justify-content-around py-3">
                    <div class="d-flex">
                        <i class="far fa-user my-auto"></i>
                        <p class="my-auto px-2">Admin</p>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-calendar-alt my-auto"></i>
                        <p class="my-auto px-2">January 12,2019</p>
                    </div>
                    <div class="d-flex">
                        <i class="far fa-comment my-auto"></i>
                        <p class="my-auto px-2">2 Comments</p>
                    </div>
                </div>
            </div>
            <div>
                <h1 class="post-title"><a href="#">Woman claims husband wants to name baby girl after
                        his ex-lover
                        sparking.</a></h1>
                <p>Over yielding doesn't so moved green saw meat hath fish he him from given yielding
                    lesser cattle were
                    fruitful lights. Given let have, lesser their made him above gathered dominion
                    sixth. Creeping deep
                    said can't called second. Air created seed heaven sixth created living</p>
                <button type="button" class="btn btn-outline-dark">READ MORE <i class="fas fa-arrow-right"></i></button>
            </div>
        </div>
        <div class="d-flex w-25 mx-auto justify-content-between">
            <button type="button" class="btn btn-outline-dark"><i class="fas fa-arrow-left"></i></button>
            <button type="button" class="btn btn-outline-dark current">1</button>
            <button type="button" class="btn btn-outline-dark">2</button>
            <button type="button" class="btn btn-outline-dark"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</section>